<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Caveat&family=Fasthand&family=Ms+Madi&family=Nothing+You+Could+Do&family=Over+the+Rainbow&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/create_message.css')}}" />
    <title>Enigmatik | Read Message</title>
</head>

<body>

    <!-- Header -->
    <header>
        <div class="header-name">
            <div class="header-button"><span>E</span></div>
            <div class="header-button"><span>N</span></div>
            <div class="header-button"><span>I</span></div>
            <div class="header-button"><span>G</span></div>
            <div class="header-button"><span>M</span></div>
            <div class="header-button"><span>A</span></div>
            <div class="header-button"><span>T</span></div>
            <div class="header-button"><span>I</span></div>
            <div class="header-button"><span>K</span></div>
        </div>
        <div class="links">
            <a href="/messages">Messages</a>
            <a href="/profiles">Profiles</a>
            <!-- <a href="#">About</a> -->
            <a href="/logout">Logout</a>
            <!-- <a href="#"><img src="/static/imgs/design/settings_wheel.png" alt="settings wheel"></a> -->
        </div>
    </header>



    <!-- Main body content -->
    <main class="container">
        

        <!-- Encrypted Message / Comments -->
        <form class="encrypted-message_comments container" action="/submit_message" method="POST">
            <div class="encrypted-message row">
                <div class="decrypted col d-flex flex-column">
                    <!-- <h2>Decrypted</h2> -->
                    <h2>New Transmission</h2>
                    <div class="message">
                        <label for="title">Title:</label>
                        <input class="title title-left" type="text" name="decrypted_title" placeholder="enter title here..."></input>
                        <p class="break"></p>
                        <label for="message">Message:</label>
                        <input class="message-text" type="text" name="decrypted_message" placeholder="enter message here..."></input>
                        
                    </div>
                </div>
               
            </div>
            <div class="settings-full">
                <img src="/static/imgs/design/divide_pen.png" alt="">
                <h2>Settings</h2>
                <div class="settings container">
                    <div class="row  pb-4">
                        <div class="col d-flex">
                            <p class="pe-3">Viewed by: </p>
                            <label>Friends</label>
                            <input onclick="hideEnigmaPanel()" type="radio" name="viewed_by" id="freinds" value="1" checked>
                            <label>Private</label>
                            <input onclick="showEnigmaPanel()" type="radio" name="viewed_by" id="private" value="0">
                        </div>
                        <div class="col d-flex">
                            <p class="pe-3">Encrypt Title: </p>
                            <label>Yes</label>
                            <input type="radio" name="encrypt_title_bool" id="yes" value="1" checked>
                            <label>No</label>
                            <input type="radio" name="encrypt_title_bool" id="no" value="0">
                        </div>
                        <div class="col">
                            <button id="form-submit-btn" class="visually-hidden" type="submit">Hidden button</button>
                            <button onclick="pullPanelSettings()">Send Transmission</button>
                        </div>
                    </div>
                    <div id="enigma-settings-note" class="row d-none">
                        <div class="col d-flex flex-column">
                            <p class="pe-4">Enigma setup (write this down on paper)</p>
                            <p class="pe-4">
                                <span>Rotor order: <span id="rotor-order-values-dom">V I III</span> / </span>
                                <input type="hidden" id="rotor-order-values" name="rotor_order" value="">
                                <span>Initial position: <span id="initial-position-values-dom">B Q L</span> / </span>
                                <input type="hidden" id="initial-position-values" name="initial_position" value="">
                                <span>Rings: <span id="ring-values-dom">5 2 18</span> / </span>
                                <input type="hidden" id="ring-values" name="rings" value="">
                                <span>Key swap pairs: <span id="key-swap-values-dom">AP, BS, DE, RT, AP, BS, DE, RT, AP, BS</span></span>
                                <input type="hidden" id="key-swap-values" name="key_swap_pairs" value="">
                            </p>
                        </div>
                        <div class="col d-flex">
                            <p class="pe-3">Setup written down? </p>
                            <label>Yes</label>
                            <input type="checkbox" name="setup_written_down" id="yes" value="yes">
                        </div>
                        
                    </div> 
                   
                    
                </div>
            </div>
        </form>
        <div id="enigma-panel" class="enigma-settings row d-flex d-none justify-content-between mb-4">
            <div class="rotors d-flex col-4">
                <div class="rotor-setting-name d-flex flex-column justify-content-between">
                    <p>Rotor Order</p>
                    <p>Initial Position</p>
                    <p>Ring Position</p>
                </div>
                <div class="rotor-full mx-3 d-flex flex-column justify-content-around align-items-center">
                    <div class="rotor-order">
                        <select onchange="pullPanelSettings()" class="rotor-order-value" name="rotor" id="rotor-position-1">
                            <option value="I" selected>I</option>
                            <option value="II">II</option>
                            <option value="III">III</option>
                            <option value="IV">IV</option>
                            <option value="V">V</option>
                        </select>
                    </div>
                    <div class="rotor d-flex flex-column">
                        <input class="rotor-btn1" type="button" onclick="incrementInitial(this)">
                        <div class="d-flex align-items-center">
                            <div class="rotor-panel">
                                <p class="rotor-initial" data-position=1>B</p>
                                <img src="/static/imgs/enigma-board/rotor-panel1.png" alt="rotor">
                            </div>
                            <img class="rotor-wheel" src="/static/imgs/enigma-board/rotorstep1.png" alt="rotor">
                        </div>
                        <input class="rotor-btn2" type="button"  onclick="decrementInitial(this)">
                    </div>
                    <div class="ring">
                        <select onchange="pullPanelSettings()" class="ring-position" name="ring-position" id="">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6" selected>6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                        </select>
                    </div>
                </div>
                <div class="rotor-full mx-3 d-flex flex-column justify-content-around align-items-center">
                    <div class="rotor-order">
                        <select onchange="pullPanelSettings()" class="rotor-order-value" name="rotor" id="">
                            <option value="I">I</option>
                            <option value="II">II</option>
                            <option value="III" selected>III</option>
                            <option value="IV">IV</option>
                            <option value="V">V</option>
                        </select>
                    </div>
                    <div class="rotor d-flex flex-column">
                        <input class="rotor-btn1" type="button" onclick="incrementInitial(this)">
                        <div class="d-flex align-items-center">
                            <div class="rotor-panel">
                                <p class="rotor-initial" data-position=1>B</p>
                                <img src="/static/imgs/enigma-board/rotor-panel2.png" alt="rotor">
                            </div>
                            <img class="rotor-wheel" src="/static/imgs/enigma-board/rotorstep1.png" alt="rotor">
                        </div>
                        <input class="rotor-btn2" type="button"  onclick="decrementInitial(this)">
                    </div>
                    <div class="ring">
                        <select onchange="pullPanelSettings()" class="ring-position" name="ring-position" id="">
                            <option value="1" selected>1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                        </select>
                    </div>
                </div>
                <div class="rotor-full mx-3 d-flex flex-column justify-content-around align-items-center">
                    <div class="rotor-order">
                        <select onchange="pullPanelSettings()" class="rotor-order-value" name="rotor" id="">
                            <option value="I">I</option>
                            <option value="II" selected>II</option>
                            <option value="III">III</option>
                            <option value="IV">IV</option>
                            <option value="V">V</option>
                        </select>
                    </div>
                    <div class="rotor d-flex flex-column">
                        <input class="rotor-btn1" type="button" onclick="incrementInitial(this)">
                        <div class="d-flex align-items-center">
                            <div class="rotor-panel">
                                <p class="rotor-initial" data-position=1>B</p>
                                <img src="/static/imgs/enigma-board/rotor-panel3.png" alt="rotor">
                            </div>
                            <img class="rotor-wheel" src="/static/imgs/enigma-board/rotorstep1.png" alt="rotor">
                        </div>
                        <input class="rotor-btn2" type="button"  onclick="decrementInitial(this)">
                    </div>
                    <div class="ring">
                        <!-- <img src="/static/imgs/enigma-board/bottom-plate.png" alt="bottom-plate"> -->
                        <select onchange="pullPanelSettings()" class="ring-position" name="ring-position" id="">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10" selected>10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="plugboard col d-flex flex-column justify-content-around align-items-center">
                <p class="rm-p">Plugboard can switch up to 10 letters</p>
                <div class="keys-container d-flex justify-content-center align-items-center">
                    <input type="hidden" id="open_pair" value=false>
                    <div class="keys-only d-flex flex-column align-items-center">
                        <div class="key-row d-flex justify-content-center">
                            <!-- <button value="a">A</button> -->
                            <input type="button" data-color="" value="A" onclick="keyPairs(this)">
                            <input type="button" data-color="" value="B" onclick="keyPairs(this)">
                            <input type="button" data-color="" value="C" onclick="keyPairs(this)">
                            <input type="button" data-color="" value="D" onclick="keyPairs(this)">
                            <input type="button" data-color="" value="E" onclick="keyPairs(this)">
                            <input type="button" data-color="" value="F" onclick="keyPairs(this)">
                        </div>
                        <div class="key-row d-flex justify-content-center">
                            <input type="button" data-color="" value="G" onclick="keyPairs(this)">
                            <input type="button" data-color="" value="H" onclick="keyPairs(this)">
                            <input type="button" data-color="" value="I" onclick="keyPairs(this)">
                            <input type="button" data-color="" value="J" onclick="keyPairs(this)">
                            <input type="button" data-color="" value="K" onclick="keyPairs(this)">
                            <input type="button" data-color="" value="L" onclick="keyPairs(this)">
                            <input type="button" data-color="" value="M" onclick="keyPairs(this)">
                        </div>
                        <div class="key-row d-flex justify-content-center">
                            <input type="button" data-color="" value="N" onclick="keyPairs(this)">
                            <input type="button" data-color="" value="O" onclick="keyPairs(this)">
                            <input type="button" data-color="" value="P" onclick="keyPairs(this)">
                            <input type="button" data-color="" value="Q" onclick="keyPairs(this)">
                            <input type="button" data-color="" value="R" onclick="keyPairs(this)">
                            <input type="button" data-color="" value="S" onclick="keyPairs(this)">
                        </div>
                        <div class="key-row d-flex justify-content-center">
                            <input type="button" data-color="" value="T" onclick="keyPairs(this)">
                            <input type="button" data-color="" value="U" onclick="keyPairs(this)">
                            <input type="button" data-color="" value="V" onclick="keyPairs(this)">
                            <input type="button" data-color="" value="W" onclick="keyPairs(this)">
                            <input type="button" data-color="" value="X" onclick="keyPairs(this)">
                            <input type="button" data-color="" value="Y" onclick="keyPairs(this)">
                            <input type="button" data-color="" value="Z" onclick="keyPairs(this)">
                        </div>
                    </div>
                </div>
                <P>Key swap pairs (<span id="key-swap-values-dom2"></span>)</P>
            </div>
        </div>
    </main>




    <script src="/static/js/enigmaPanel.js"></script>
    <script src="/static/js/charScramble.js"></script>
</body>

</html>