<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/read_message.css')}}" />
    <title>Enigmatik | Read Message</title>
</head>

<body>

    <!-- Header -->
    <header>
        <div class="header-name">
            <div class="header-button"><span>E</span></div>
            <div class="header-button"><span>N</span></div>
            <div class="header-button"><span>I</span></div>
            <div class="header-button"><span>G</span></div>
            <div class="header-button"><span>M</span></div>
            <div class="header-button"><span>A</span></div>
            <div class="header-button"><span>T</span></div>
            <div class="header-button"><span>I</span></div>
            <div class="header-button"><span>K</span></div>
        </div>
        <div class="links">
            <a href="#">Messages</a>
            <a href="/profiles">Profiles</a>
            <a href="#">About</a>
            <a href="/logout">Logout</a>
            <a href="#"><img src="/static/imgs/design/settings_wheel.png" alt="settings wheel"></a>
        </div>
    </header>



    <!-- Main body content -->
    <main class="container">
        <div class="enigma-settings row">
            <div class="rotors d-flex col-4">
                <div class="rotor-setting-name d-flex flex-column justify-content-between">
                    <p>Rotor Order</p>
                    <p>Initial Position</p>
                    <p>Ring Position</p>
                </div>
                <div class="rotor-full mx-3 d-flex flex-column justify-content-around">
                    <div class="ring">
                        <select name="rotor" id="">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="rotor d-flex flex-column">
                        <input type="button">
                        <div class="d-flex align-items-center">
                            <div class="rotor-panel">
                                <p class="rotor-initial">5</p>
                                <img src="/static/imgs/enigma-board/rotor-panel1.png" alt="rotor">
                            </div>
                            <img class="rotor-wheel" src="/static/imgs/design/rotor4.png" alt="rotor">
                        </div>
                        <input type="button">
                    </div>
                    <div class="ring">
                        <select name="ring-position" id="">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                        </select>
                    </div>
                </div>
                <div class="rotor-full mx-3 d-flex flex-column justify-content-around">
                    <div class="ring">
                        5
                    </div>
                    <div class="rotor d-flex align-items-center">
                        <div class="rotor-panel">
                            <p class="rotor-initial">5</p>
                            <img src="/static/imgs/enigma-board/rotor-panel2.png" alt="rotor">
                        </div>
                        <img class="rotor-wheel" src="/static/imgs/design/rotor4.png" alt="rotor">
                    </div>
                    <div class="ring">
                        5
                    </div>
                </div><div class="rotor-full mx-3 d-flex flex-column justify-content-around">
                    <div class="ring">
                        5
                    </div>
                    <div class="rotor d-flex align-items-center">
                        <div class="rotor-panel">
                            <p class="rotor-initial">5</p>
                            <img src="/static/imgs/enigma-board/rotor-panel3.png" alt="rotor">
                        </div>
                        <img class="rotor-wheel" src="/static/imgs/design/rotor4.png" alt="rotor">
                    </div>
                    <div class="ring">
                        5
                    </div>
                </div>
            </div>
            <div class="plugboard col-8 d-flex flex-column justify-content-around align-items-center">
                <p class="rm-p">Can switch up to 10 letters</p>
                <div class="keys-container d-flex justify-content-center align-items-center">
                    <p>Plugboard</p>
                    <div class="keys-only d-flex flex-column align-items-center">
                        <div class="key-row">
                            <!-- <button value="a">A</button> -->
                            <input type="button" value="A">
                            <input type="button" value="B">
                            <input type="button" value="C">
                            <input type="button" value="D">
                            <input type="button" value="E">
                            <input type="button" value="F">
                        </div>
                        <div class="key-row">
                            <input type="button" value="G">
                            <input type="button" value="H">
                            <input type="button" value="I">
                            <input type="button" value="J">
                            <input type="button" value="K">
                            <input type="button" value="L">
                            <input type="button" value="M">
                        </div>
                        <div class="key-row">
                            <input type="button" value="N">
                            <input type="button" value="O">
                            <input type="button" value="P">
                            <input type="button" value="Q">
                            <input type="button" value="R">
                            <input type="button" value="S">
                        </div>
                        <div class="key-row">
                            <input type="button" value="T">
                            <input type="button" value="U">
                            <input type="button" value="V">
                            <input type="button" value="W">
                            <input type="button" value="X">
                            <input type="button" value="Y">
                            <input type="button" value="Z">
                        </div>
                    </div>
                </div>
                <P>Key swap pairs (<span>AP, BX, DE, RT</span>)</P>
            </div>
        </div>
    </main>



    <script src="/static/js/charScramble.js"></script>
</body>

</html>