@font-face {
    font-family: SpecialElite;
    src: url('/static/fonts/SpecialElite.ttf');
}
@font-face {
    font-family: ImpactLabelReversed;
    src: url('/static/fonts/ImpactLabelReversed-nDMR.ttf');
}
@font-face {
    font-family: SweetNote;
    src: url('/static/fonts/SweetNote.ttf');
}

* {
    margin: 0;
    padding: 0;
    /* font-family: SpecialElite; */
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('/static/imgs/design/wallpaper.jpg');
    background-attachment: fixed;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 22px;
}

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: white;
    padding: 25px 25px 0 25px;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 22px;
}

.header-button {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 50%; */
    color: white;
    font-size: 30px;
    background-image: url('/static/imgs/design/button.png');
    background-size: contain;
}

.header-name {
    display: flex;
    font-family: SpecialElite;
}

.header-button p {
    padding: 0;
}
.links {
    background-image: url('/static/imgs/design/black_plastic2.jpg');
    background-color: rgb(127, 132, 135);
    padding: 5px;
    border-radius: 5px;
}
.links a {
    font-family: ImpactLabelReversed;
    padding: 10px 20px;
    font-size: 24px;
    color: white;
    text-decoration: none;
}

/* Enigma Settings */
.enigma-settings {
    color: white;
    background-image: url('/static/imgs/design/black_plastic2.jpg');
    background-size: cover;
    border-radius: 15px;
    margin-top: 45px;
    padding: 20px;
    font-family: ImpactLabelReversed;
    font-size: 24px;
}


.plugboard p {
    padding: 5px;
    margin: 0;
}

.rotor {
    position: relative;
}

.rotor-wheel {
    height: 150px;
}

.key-row input {
    font-size: 18px;
    padding: 10px 35px;
    margin: 5px;
    border: 3px solid black;
    border-radius: 10px;
    font-family: SpecialElite;
    font-weight: bolder;
}

.keys-container p {
    margin-right: 25px;
}

.rotor-panel {
    position: relative;
}

.rotor-panel img {
    height: 125px;
}

.rotor-panel .rotor-initial {
    position: absolute;
    font-size: 18px;
    font-weight: bolder;
    color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    font-family: SpecialElite;
}

.rotor input {
    position: absolute;
    height: 50%;
    width: 100%;
    z-index: 1;
    background-color: gray;
    opacity: 0;
}
.rotor input:hover {
    opacity: .4;
}

.rotor-btn2 {
    bottom: 0;
}

.ring, .rotor-order {
    background-image: url('/static/imgs/enigma-board/bottom-plate.png');
    border-radius: 5px;
    font-family: SpecialElite;
    font-size: 16px;
}

.ring select, .rotor-order select {
    margin: 7px;
    padding: 3px;
    font-weight: bolder;
}



/* Encrypted messages/ comments */
.encrypted-message_comments {
    font-family: SpecialElite;
    font-weight: bold;
    background-image: url('/static/imgs/design/full-old-paper.png');
    margin-top: 35px;
    margin-bottom: 35px;
    background-size: cover;
}

.encrypted, .decrypted {
    padding: 18px;
}


.settings-full img {
    display: block;
    width: 95%;
    margin: auto;
}

input[type="radio"],
input[type="checkbox"]
{
    appearance: none;
    border-bottom: 1px solid black;
    width: 30px;
    height: 30px;
    content: none;
    outline: none;
    margin: 0;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
 }
 
 input[type="radio"]:checked,
 input[type="checkbox"]:checked {
   appearance: none;
   outline: none;
   padding: 0;
   content: none;
   border-bottom: 1px solid black;
 }
 
 input[type="radio"]:checked::before,
 input[type="checkbox"]:checked::before{
   position: absolute;
   color: black !important;
   content: "\00A0\2713\00A0" !important;
   font-weight: bolder;
   font-size: 21px;
 }

 .message label {
    border-bottom: 2px solid black;
    font-size: 20px;
 }
 .message input {
    width: 60%;
 }

 input[type="text"],
input[type="text"]:focus,  
input[type="email"],
input[type="email"]:focus,  
input[type="password"],
input[type="password"]:focus  
{
    background-color: transparent;
    border: 0px;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.break {
    padding-bottom: 10px;
}

.title-left {
    font-size: 28px;
    padding-left: 10px;
}
.message-text {
    padding-left: 10px;
    font-size: 18px;
    font-weight: bold;
}
/* .message p {
    font-size: 16px;
} */