@font-face {
    font-family: SpecialElite;
    src: url('/static/fonts/SpecialElite.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: SpecialElite;
}


body {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    background-image: url('/static/imgs/design/wallpaper.jpg');
    background-attachment: fixed;
}

.forms-container {
    display: flex;
}

form {
    padding: 20px 10px 0px 10px;
    background-image: url('/static/imgs/design/parched_light.png');
    background-size: cover;
    width: 465px;
    color: black;
    font-weight: bold;
    height: fit-content;
}
.form-control {
    margin: 0;
    padding: 0 0 0 15px;
}

.register-form, .login-form {
    margin-right: 75px;
    display: flex;
    flex-direction: column;
}
.faded {
    opacity: .9;
    color: rgb(35, 33, 33);
}

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: white;
    padding: 25px 25px 0 25px;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 22px;
}

.header-button {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 50%; */
    color: white;
    font-size: 30px;
    background-image: url('/static/imgs/design/button.png');
    background-size: contain;
    padding-top: 5px;
}

.header-name {
    display: flex;
}

.header-button p {
    padding: 0;
}

input[type="text"],
input[type="text"]:focus,  
input[type="email"],
input[type="email"]:focus,  
input[type="password"],
input[type="password"]:focus  
{
    background-color: transparent;
    border: 0px;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  /* border: 1px solid green;
  -webkit-text-fill-color: green;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s; */
  background-color: transparent;
    border: 0px;
    outline: none;
    /* -webkit-box-shadow: none; */
    /* -moz-box-shadow: none; */
    /* box-shadow: none; */
}



button img {
    height: 50px;
    padding-bottom: 0px;
}


button:focus {
    border: 0px;
}
button:focus img {
    height: 60px;
    padding-bottom: 0px;
}

.orange-couch {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    height: 35%;
}

.form-line {
    width: 75%;
}
#demo-creds {
    padding: 28px 10px 0px 24px;
    background-image: url(/static/imgs/design/parched_light.png);
    background-size: cover;
    width: 465px;
    color: black;
    font-weight: bold;
    height: fit-content;
}
#login-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}